.content {
    max-width: 85%;
    margin: auto;
    padding: 2%;
}
code {
    background-color: #d8d8d8;
    border-radius: 2px;
    padding: 0px 3px;
    font-weight: 500;
    font-size: 1.2em;
    color: rgb(29, 37, 37);
}
img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* img {
    margin-left: -10.8%;
    max-width: 98vw;
} */